
  @use "../base/tokens" as *;

  table {
    caption-side: bottom; margin-bottom: 2rem;font-family:var(--font-body); font-weight: 300;
    border-collapse: collapse;
    &.table{overflow-x: auto; display: block;  height: auto !important;
			@include bp(lg) {	display: inherit;
	overflow-x: inherit; height: 100% !important;}
	}
  }
  
  th {
    text-align: inherit;
    text-align: -webkit-match-parent;
  }
  
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }

  .table td, .table th {
    padding: .75rem;
    vertical-align: top;
	border: none;
    border-top: 1px solid #e9eaec;
	
}
th {
    text-align: inherit;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent; border-bottom: solid 1px #e9eaec;
}
.table {
    border-collapse: collapse;
}
.table th {
    color: white;
    background-color: #E85D0F;
    border-color: #E85D0F;
}
.table th {
    vertical-align: bottom;
    border-bottom: 1px solid #e9eaec;
}
.table .thead-sub th {
    vertical-align: bottom;
    border-bottom: 1px solid #e9eaec;
	font-weight:600;
	color: #E85D0F;
	background: transparent;
}

.table {
	margin-bottom: 2rem;
	tr {
		background: #fff;
	}
	td {color: #5c5b62;
		padding: 10px;
		ul {
			padding-left: 1rem !important;
		}
		ol {
			padding-left: 1rem !important;
		}
		p{
			color: unset;
		}
	}
	p {
		margin: 0;
	}
}

.table.cb {
	thead {
		tr {
			background: #E85D0F;
		}
		td {
			color: #ffffff;
			font-weight: 600;
		}
	}
	th {
		background: #E85D0F;
		color: #ffffff;
		font-weight: 600;
	}
	tr.primary-bg {
		background: #E85D0F;
		color: #ffffff;
	}
	td.primary-bg {
		background: #E85D0F;
		color: #ffffff;
	}

	tr.grey-bg {
		background:#dddddd;
	}
	td.grey-bg {
		background:#dddddd;
	}
	tr.grey-bg-dark {
		background: #666666;
	}
	td.grey-bg-dark {
		background: #666666;
	}
}
.table.cb thead tr.light-bg{
  color: var(--primary-color); background-color: transparent;
}
.table.cb thead tr.light-bg td{color: var(--primary-color);}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
thead th {
    position: sticky;
    top: 80px;
    background: #fff;
    z-index: 10;
}


    
