

@use "../base/tokens" as *;

.tabs__list {
  display: flex;
  gap: var(--space-4);
  overflow-x: auto;
  scrollbar-width: none; 
  //border-bottom: 1px solid var(--line);
  background-color: #E3F1F0;
  border-radius: 30px;
  padding: 1rem;
  flex-direction: column;
 
  margin: 0 auto;
  @include bp(md) {  width: 424px; padding: 0; flex-direction: row;}
  @include bp(xl) {  width: 35.9%;}

  &::-webkit-scrollbar { display: none; }
  &.partner-tabs{ margin-top: 3rem;
    @include bp(md) {  width: 100%; padding: 0; flex-direction: row;}
  @include bp(xl) {  width: 100%;}
  &.p-tab-ab,.s-tabs-ab{display: inherit; flex-direction: inherit; justify-content: center; flex-wrap: wrap; gap: 0.5rem;
     @include bp(md) {  width: 100%; padding: 0; flex-direction: inherit; flex-wrap: wrap; border-radius: 8px; padding: 1rem; justify-content: center;}
         .tabs__tab[aria-selected=false], .tabs__tab[aria-selected=true] {
  margin: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  .tabs__tab{line-height: normal; background-color:#fff;
   &[aria-selected="false"] {
    background: var(--white);
    color: #000;
    border-radius: 30px;
  }
   &[aria-selected="true"] {
    background: var(--primary-color);
    color: #fff;
    border-radius: 30px;
  }
  }
  }
&.s-tabs-ab{flex-wrap: wrap; gap: 0.5rem;padding: 0rem; background-color: #fff; border-radius: 0;
     @include bp(md) {  width: 100%; padding: 0; border-radius: 8px; padding: 0%; justify-content: start; gap:1rem;}
  .tabs__tab[aria-selected=false], .tabs__tab[aria-selected=true] {
  margin: 0rem; padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.12);
 
  }
  .tabs__tab{line-height: normal; background-color:#fff;
   &[aria-selected="false"] {
    background: var(--white);
    color: #000;
    border-radius: 12px;
    border: solid 1px var(--primary-color);
  }
   &[aria-selected="true"] {
    background: var(--primary-color);
    color: #fff;
    border-radius: 12px;
  }
  }
  }
  }

}

.tabs__tab {
  flex-shrink: 0;
  padding: var(--space-2) var(--space-6);
  background: none;
  border: none;
  //border-bottom: 3px solid transparent;
  font-family: var(--font-body);
  font-size: var(--text-sm);
  font-weight: 400;
  color: var(--text-on-paper);
  white-space: nowrap;border-radius: 30px;

  cursor: pointer;
  transition: background var(--duration-fast) var(--ease-standard),
              color var(--duration-fast) var(--ease-standard);

  &:hover { color: var(--primary-color); }

  &[aria-selected="true"] {
    background: var(--primary-color);
    color: #fff;
    border-radius: 30px;
  }
    &[aria-selected="false"] {
   border: solid 1px #b0b0b0;
    @include bp(md) { border: none;  }
  }
  
}

.tabs__panel {
  padding-top: var(--space-5);

  &[hidden] { display: none; }

  .expert-form{
      @include bp(md) {  margin: 2rem auto; }
  }
    .panel-consult{
      @include bp(md) {  width: 78%; margin: 2rem auto; }
  }

}

.tabs{
  &.contact-tabs{
    .tabs__list{padding:0; background-color: #fff; border-radius:0;
     @include bp(sm) {  background-color: #e3f1f0; border-radius: 30px;  }
    }
    
  }
}