
 @use "../base/tokens" as *;

/* General setup */
#menu-list {
        .menu-column { margin-bottom: 0; padding-bottom: 0; padding-top: 3rem; }
        .multilevel { display: flex; min-height: 300px;  margin-top: 0;  
            .level1, .level2, .level3 {
                ul{ margin-top: 0 ;
                &.hide{
                    display: none ; 
                }
                li{
                    a{
                        &:before { content: "" ; display: none ; }
                        &:hover{
                          color: var(--primary-color);
                        }
                    }
                }
                }
            }
            .level1 a, .level2 a {
                color: #696969;
                display: inline;
                font-size: 15px;
              }
              ul li:hover {
                background-color: transparent;
                a {
                  color: var(--primary-color);
                  background-color: transparent;
                }
              }
              a:hover {
                color: var(--primary-color);
                background-color: transparent;
              }
          
              .level1 li, .level2 li {
                width: 100%;
                list-style: none;
                margin-bottom: 1rem;
              }
              .level1 ul.hide, .level2 ul.hide, .level3 .hide {
                display: none;
              }
            }
          }
          
/* Container background */
   .submenu-container-new .section-wrapper .bg-after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -51%;
        width: 86.8%;
        height: 100%;
        z-index: -1;
        display: flex;
      
        > div {
          display: block;
        }
      
        div {
          &.mm_center {
            width: 80%;
            height: 100%;
          }
      
          &.mm_left, &.mm_right {
            width: 32px;
            height: 100%;
      
            img {
              width: 32px;
              height: 100%;
            }
          }
        }
      
        .no_shadow {
          background:#fff7ec;
        }
      }
      
    /* Level 1 Design */
      #menu-list .multilevel {
        .level1 {
          width: 23%;
          ul {
            margin-left: 0;
          }
          li {
            margin-right: .5rem;
            font-size: 15px;
            &:first-child {
              color: #252525;
              margin-bottom: 1rem;
              font-size: 15px;
            }
            &:hover a, &.mm_active a {
              color: var(--primary-color);
              background-color: transparent;
              display: inline;
            }
          }
        }
        .level2 li.mm_active a {
          color: var(--primary-color);
          background-color: transparent;
          display: inline;
        }
        .level1 li::after, .level2 li::after {
          display: inline;
          content: '▸';
          transform: translateX(0);
          padding-left: 6px;
          color: var(--primary-color);
          visibility: hidden;
        }
        .level1 li.mm_active::after, .level2 li.mm_active::after {
          visibility: visible;
        }
      }
      
    /* Level 2 Design */

    #menu-list .multilevel .level2 {
        width: 30%;
        padding-left: 3rem;
        margin-right: 3rem;
      
        li:first-child {
          color: #252525;
          font-size: 15px;
      /* Level 2 arro hide */
          &::after {
            display: none;
          }
        }
      
        .guides-title-level2 {
          color: #000;
        }
        ul{margin-left: 4rem;}
      }
      
    /* Level 3 Design */

      
      #menu-list .multilevel .level3 {
        width: 48%;
        padding-left: 1rem;
        .posts {
          display: flex;
          width: 100%;
      
          .news-content {
            padding: 0;
            text-align: left;
            width: 60%;
      p{margin-bottom: 1rem;}
            h3 {
              padding: 0;
              margin: 0 ;
              font-size: 1rem;
              line-height: 22px;
              margin-bottom: 0.5rem;
              a {
                color: #000 ;
                padding: 0;
                font-size: 1rem;
                line-height: 22px;
              }
            }
      
            .find-out-m-link {
              font-weight: 600;
              color: var(--primary-color);
              padding: 0;
      
              &:hover {
                color: var(--primary-color);
              }
      
              &:after {
                content: '→';
                display: inline-block;
                vertical-align: top;
                font-weight: 700;
                color: var(--primary-color);
                font-size: 1.5rem;
                margin-left: 10px;
                line-height: 18px;
              }
            }
          }
      
          .thumbnail {
            margin-right: 2rem;
            width: 40%;
            text-align: left;
      
            img {
              border-radius: 5px;
              width: 100%;
            }
      
            a {
              padding: 0;
            }
          }
        }
      
        .briefing-news .posts:hover img {
          transform: none;
        }
      
        ul {
          flex-direction: column;
          margin: 0;
      
          li {
            flex-direction: column ;
            width: 100% ;
      
            a:before {
              display: none;
              margin: 0 ;
            }
          }
        }
      }
      
    /* Mega Menu Helper */

   
  .section-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 1.5rem;
  height: inherit;
}
.scrollContainer { max-height: 47vh; overflow-y: auto; overflow-x: visible;  margin-bottom: 1rem; position: relative;}
.scrollContainer::-webkit-scrollbar {
  width: 2px; margin-right: 1rem;
}

.scrollContainer::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 50px;
  margin-right: 20px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: #d6d6d6; border-radius: 50px;
}

@media (max-width: 767px) {
.multilevel{flex-direction: column;}
#menu-list {
  .multilevel {
.level1, .level2, .level3{
width: 100%;
}
ul{padding: 0;}
.level2{ padding: 0;
ul{margin-left: 0px;}
}
.level3 { padding-left: 0px;
  .posts{
  flex-direction: column;
  .thumbnail, .news-content{ width: 100%;}
  .thumbnail{margin-bottom: 1.5rem; margin-right: 0;}
}
}
  }
  .menu-column{margin-top: 0; padding-top: 0px;}
}


}


@media only screen and (max-width: 1099px) {
  .section-wrapper {
    &.padding-left-right-none{padding-left: 0; padding-right: 0;}
  }
}
@media (min-width: 1200px) {
  .section-wrapper {
    width: 90%;
    max-width: 1200px;
  }
}
@media (min-width: 1440px) {
  .section-wrapper {
    width: 85%;
    max-width: 1440px;
  }
}