// Variable overwrite for AB

@use "../scss/base/tokens";

:root {
  --brief-theme-color:#82131B !important;
  --brief-theme-color-light:#fa9299 !important;
  --brief-theme-color-dark:#82131B !important;
}
.footer-newsletter{ background-color: #DDDDDD;}
.footer-newsletter__title{color: #000;}
.footer-newsletter__sub{color: #5D5D5D;}
.footer-newsletter__input{border-color: #8D8D8D; color: #464646;}
.footer-newsletter__input::placeholder {
    color: #666;
    opacity: 1;
}
.publication-card-title{color: #000; text-decoration: none; font-weight: 500;
h2{font-size: 1.5rem; font-weight: 500; line-height: 34px; margin-bottom: 0.5rem;}
}
.publication-card-date{color: #999999; font-size: 14px; }
.publication-card-desc{ margin-top: 1rem;}
.btn-view{text-align: center;}
.publication-card {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        
          
        
    }

    .publication-card-text {
        width: 100%;

    }

    .publication-card-text.publication-card-100per {
        width: 100%;
    }

    .publication-card-thumb {
        width: 100%;
    }

    .publication-card-thumb.publication-card-thumb-30per {
        width: 100%;
        margin-bottom: 2rem;
        
    }

    .publication-card-thumb img {
        min-height: auto;
        margin-bottom: 1rem;
        margin-top: 0
    }

    
@media (min-width:786px){
  .publication-card {flex-direction: row;}
  .publication-card-text{ padding: 0 1.5rem 0 3rem}
  .publication-card-thumb.publication-card-thumb-30per{width: 30%; margin-bottom: 0;}
  
    .publication-card-thumb {
        width: 55%
    }
 }
 .multiselect input {
        margin-right: 10px;
    }

    .multiselect select {
        margin-bottom: 10px;
    }

    .selectBox {
        position: relative;
    }

    .selectBox select {
        width: 100%;
    }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .checkboxes {
        display: none;
        padding-left: 18px;
        padding-bottom: 18px;
    }

    .checkboxes label {
        display: block;
    }

    .checkboxes label input {
        margin-bottom: 0;
    }

    .checkboxes.show {
        display: block;
    }